<!DOCTYPE html>
<html>

<head>

    <title>AI Study Assistant</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="app">

        <div class="sidebar">

            <h2>AI Study Assistant</h2>

            <p>Your personal AI learning companion.</p>

        </div>

        <div class="chat-container">

            <div class="chat-box">

                {% for chat in chat_history %}

                    <div class="message user-message">

                        {{ chat.question }}

                    </div>

                    <div class="message ai-message">

                        <pre>{{ chat.response }}</pre>

                    </div>

                {% endfor %}

            </div>

            <form method="POST" class="input-area">

                <input
                    type="text"
                    name="question"
                    placeholder="Ask anything..."
                    required>

                <button type="submit">
                    Send
                </button>

            </form>

        </div>

    </div>

</body>

</html>